<mat-form-field>
    <mat-label>News From</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="currenDate" (dateChange)="getNews(currenDate)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-accordion>
    <mat-expansion-panel class="margin-bottom-0-5rem" *ngFor="let news of allNews">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-size-13px">
          {{news.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-md-8">
            <mat-label class="wrappe-date">{{news.publishedAt | date}} | <b>{{news.author}}</b></mat-label>
            <div class="font-size-13px" [innerHtml]="news.description">
            </div>
            <span class="font-size-11px"><a href="{{news.url}}" target="_blank">{{news.url}}</a></span>
            <hr>
            <div class="font-size-13px" [innerHtml]="news.content"></div>
        </div>
        <div class="col-md-4">
                <img class="wrappe-image" mat-card-image src="{{news.urlToImage}}" alt="Photo of a news">
        </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
<mat-error *ngIf="allNews.length === 0 && !isLoading">News not found</mat-error>
  <mat-progress-spinner *ngIf="isLoading" class="example-margin wrapped-loader" mode="indeterminate">
    </mat-progress-spinner>